@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

/* Custom scrollbar styles */
.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-thumb-blue-500\/50::-webkit-scrollbar-thumb {
  background-color: rgba(59, 130, 246, 0.5);
  border-radius: 4px;
}

.scrollbar-thumb-blue-500\/50::-webkit-scrollbar-thumb:hover {
  background-color: rgba(59, 130, 246, 0.7);
}

.scrollbar-track-transparent::-webkit-scrollbar-track {
  background: transparent;
}